@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
*{
    top: 0;
    left: 0;
    box-sizing: border-box; 
 }
body{
    margin: 0;
    background-color: white;
}
.loader-wrapper{
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 75);
}
#loaderElement{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loadHex{
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 10px;      
}


.titlePath {
    fill: rgba(156, 156, 156, 0.237);
    stroke: rgba(156, 156, 156, 0.237);
    stroke-width: 1;  
}
.mask-path{
    fill: none;
    stroke: #fff;
    stroke-width: 50;  
    stroke-miterlimit: 10; 
    stroke-linecap: round;
}

.blur{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 98%;
    height: 98%;

}
#centerCircle{
    visibility: hidden;
    position: absolute;
    width: 40%;
    height: 40%;
}


.webContainer {
    position: relative;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    
    /* visibility: hidden; */
    height: 100vh;
    width: 100vw;
}
.titleWrapper{
    height: 100vh;
    scroll-snap-align: start;

}
#pixiCanvas{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: radial-gradient( rgb(0,0,90)10%, rgb(0, 0, 36)90%);
}
.titleContainer{
    visibility: hidden;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#titleBox{
    position: relative;
    background-color: black;
    border: 2px solid rgb(255, 255, 255);
    width: 700px;
    height: 250px;
    font-size: 100%;
    text-align: center;
    border-radius: 2em;
}

#titleBox h1{
    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-100%);
    margin: auto;
    color: white;
    font-size: 4rem;
    
    letter-spacing: 0.4em;
    font-family: 'Space Grotesk', sans-serif;
}
#titleBox h2{
    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-100%);
    margin: auto;
    color: white;
    font-size: 3rem;
    letter-spacing: 0.3em;
    font-family: 'Space Grotesk', sans-serif;
}
#star{
    position: absolute;
    visibility: hidden;
    background-color: white;
    border-radius: 100%;
    left: 0;
    top: 0;
}

.scrollPallete{
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
}
.scrollPallete.Projects{
    background-color: greenyellow;
}
.scrollPallete.About{
    background-color: blueviolet;
}
.scrollPallete.Contact{
    background-color: red;
}




