@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
*{
    top: 0;
    left: 0;
    box-sizing: border-box; 
 }
body{
    margin: 0;
    background-color: white;
}
.animation-container {
    position: relative;
    background: linear-gradient(20deg, rgb(0, 17, 94) 10% , rgb(0, 47, 255) 90%);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
#titleText-animation{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}
.titlePath {
    fill: rgba(156, 156, 156, 0.237);
    stroke: rgba(156, 156, 156, 0.237);
    stroke-width: 1;  
}
.mask-path{
    fill: none;
    stroke: #fff;
    stroke-width: 50;  
    stroke-miterlimit: 10; 
    stroke-linecap: round;
}
.glass{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.123), rgba(255, 255, 255, 0.493));
}
.blur{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 98%;
    height: 98%;

}
#centerCircle{
    visibility: hidden;
    position: absolute;
    width: 40%;
    height: 40%;
}

.webContainer {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    background: black;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}
.titleBox{
    border: 2px solid white;
    position: absolute;
    display: table-cell;
    width: 40%;
    height: 300px;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 100%;
    text-align: center;
}

.titleBox h1{
    border: 2px solid salmon;
    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-100%);
    margin: auto;
    color: white;
    font-size: 4rem;
    
    letter-spacing: 0.2em;
    font-family: 'Space Grotesk', sans-serif;
}
.titleBox h2{
    border: 2px solid salmon;
    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-100%);
    margin: auto;
    color: white;
    font-size: 4rem;
    letter-spacing: 0.2em;
    font-family: 'Space Grotesk', sans-serif;
}





